
.root{
    -fx-background-color: #181818;
    -fx-text-fill: white;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #212121;
}

.button:pressed{
    -fx-background-color: #81c483;
}
.button, .text-field{
    -fx-background-color: #3d3d3d;
    -fx-text-fill: white;
}

.table {
    -fx-text-fill: white;
}


.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .thumb{
    -fx-background-color: #3d3d3d;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb{
    -fx-background-color: #212121;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:odd{
    -fx-background-color: #212121;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #242424;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color: #78c180;
    -fx-background-radius: 15px;
}